.invoice-react .dx-card,
.invoice-react .dx-datagrid-headers,
.invoice-react .dx-datagrid-rowsview,
.invoice-react .dx-datagrid-filter-panel {
  border: none;
}

.invoice-react .dx-dropdowneditor-field-clickable {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.panel-container {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.btn-same-tab {
  width: 200px;
  background: #455662;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  color: white;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

.btn-same-tab .fa-star {
  position: absolute;
  right: 8px;
  top: 8px;
}

.dx-row-lines {
  height: 30px;
}

.dx-datagrid.dx-datagrid-borders>.dx-datagrid-header-panel {
  margin-bottom: 20px;
}

.dx-toolbar-item .dx-button {
  border: none;
}

.dx-toolbar-item .dx-button .dx-button-content {
  padding: 6px;
}

.dx-toolbar-item .dx-button .dx-button-content .dx-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.dx-data-row .dx-command-edit-with-icons a {
  color: rgba(0, 0, 0, 0.87) !important;
}

.row-data-container {
  width: 100%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}

.dx-datagrid-header-panel .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text {
  box-shadow: none;
  border-bottom: 1px dotted;
  border-radius: 0;
  width: 300px;
  text-align: left;
}

.arrow-slider-container {
  display: flex;
  width: 100%;
  column-gap: 25px;
  color: #009fe3;
}

.arrow-sx i,
.arrow-dx i {
  font-size: 24px;
  cursor: pointer;
}

.invoice-detail h5 {
  font-size: 15px;
}

h4.metadata-field {
  font-size: 14px;
  word-break: break-all;
  white-space: normal;
}

.header-invoice-detail {
  height: 40px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.dx-loadpanel-message {
  display: block !important;
}

.dx-datagrid-header-panel {
  border: none !important;
  height: 60px;
  margin-bottom: 10px;
}

.dx-datagrid-header-panel .dx-toolbar {
  height: 100%;
}

.dx-datagrid-header-panel .dx-toolbar .dx-toolbar-items-container {
  height: 100%;
}

.dx-datagrid-filter-row .dx-editor-with-menu .dx-placeholder::before,
.dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input,
.dx-datagrid-filter-row .dx-editor-cell .dx-texteditor,
.dx-datagrid-filter-row .dx-editor-cell .dx-texteditor .dx-texteditor-input {
  background-color: transparent !important;
}

.dx-datagrid-headers {
  color: rgba(0, 0, 0, 0.54) !important;
}

.attachments-announcements {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 10px;
}