.invoice-react .dx-card, .invoice-react .dx-datagrid-headers, .invoice-react .dx-datagrid-rowsview,
.invoice-react .dx-datagrid-filter-panel {
  border: none;
}

.invoice-react .dx-dropdowneditor-field-clickable {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.invoice-react .dx-show-clear-button .dx-icon-clear::before {
  margin-top: -8.5px;
  margin-left: -8.5px;
}

.panel-container {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.dx-datagrid-content {
  font-family: 'Roboto';
}

.dx-row-lines {
  height: 30px;
}

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-header-panel {
  margin-bottom: 20px;
}

.dx-toolbar-item .dx-button {
  border: none;
}

.dx-toolbar-item .dx-button .dx-button-content {
  padding: 6px;
}

.dx-toolbar-item .dx-button .dx-button-content .dx-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
}